node_modules
tsconfig.json
.gitignore
package-lock.json
index.html
tsconfig.node.json
dist
postcss.config.js
tailwind.config.js
vite.config.ts
svelte.config.js
src/App.svelte
src/main.ts
src/tailwind.css
src/vite-env.d.ts
src/assets
src/app.d.ts
public
.vscode
.idea


